body {
  background-color: #c5edfd;
  font-family: 'Linden Hill', serif;
  font-size: 19px;
  margin: 20px auto;
  padding: 0px 20px;
  max-width: 800px;
}
h1,h2 {
  color: #0082b5; 
  font-weight: normal;
}
.filler {
  margin: 450px 0;
}
