.list_noimage, .list_image {
  display: grid;
  row-gap: 20px;
  padding: 10px 0;
}
.list_noimage {
  grid-template-columns: 1fr;
}
.list_image {
  grid-template-columns: 1fr auto;
  column-gap: 20px;
}
.list_icon {
  justify-self: center;
  img {
    max-width: 64px;
  }
}
.authors {
  color: #000000a0;
  font-size: 15px;
}
.paper_title {
  font-size: 16px;
  a {
    text-decoration: none;
    font-weight: 700;
    color: #11b0ff;
  }
}
.bibinfo {
  font-size: 15px;
  color: #000000a0;
  a {
    text-decoration: none;
    color: #11b0ff;
    opacity: 100%;
  }
}
