h1,h2
{
font-family: sans-serif;
color: green;
}

h1
{
font-size: 24pt;
text-align: center;
font-weight: bold;
}

h1.sub
{
font-size: 12pt;
}

h2
{
font-size: 16pt;
}

p.ques
{
font-weight: bold;
font-family: sans-serif;
}

body
{
background-color: white;
}
