.title {
  font-size: 34px;
}
.subtitle {
  font-size: 28px;
}
.title, .subtitle {
  margin: 15px 0;
  line-height: initial;
  font-family: 'Fredericka the Great', cursive;
}
.sublist_title {
  font-size: 32px;
  line-height: initial;
  font-family: 'Fredericka the Great', cursive;
  padding-top: 24px;
}
.para {
  line-height: 21px;
  font-size: 15px;
  color: #000000b0;
  a {
    color: #11b0ff;
    text-decoration: none;
  }
}