@use "./consts";

html, body {
  margin: 0;
}
body {
  font-family: 'Merriweather', 'David Libre', serif;
}
.hide_on_wide_screens {
  @media screen and (min-width: #{consts.$narrow-screen-width + 1px}) {
      display: none;
  }
}
.hide_on_narrow_screens {
  @media screen and (max-width: consts.$narrow-screen-width) {
    display: none;
  }
}
