$header-height: 64px;
$navbar-width: 210px;
$narrow-screen-width: 900px;

html, body {
  margin: 0;
}
body {
  font-family: 'Merriweather', 'David Libre', serif;
}
.hide_on_wide_screens {
  @media screen and (min-width: #{$narrow-screen-width + 1px}) {
      display: none;
  }
}
.hide_on_narrow_screens {
  @media screen and (max-width: $narrow-screen-width) {
    display: none;
  }
}
